<div layout:decorate="layout">
	<div layout:fragment="contents">
		<h1 th:text="${title}">Editing Idea</h1>
		<form th:action="@{/ideas/{id}(id=*{id})}" th:method="put" th:object="${idea}">
			<div class="form-group">
				<label class="control-label">名前</label>
				<input class="form-control" type="text" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label class="control-label">説明</label>
				<input class="form-control" type="text" th:field="*{description}" />
			</div>
			<div class="form-group">
				<label class="control-label">写真</label>
				<input class="form-control" type="text" th:field="*{picture}" />
			</div>
			<button class="btn btn-secondary" type="submit">更新</button>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" href="/ideas">一覧画面へ</a>
		</div>
	</div>
</div>
